body {
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    background-color: #ff9bc9;
    padding: 20px;
}
.banner {
    font-family: monospace;
    font-size: 20px;color: #9b0055;
    background-color: #ffc0cb;
    padding: 5px;
    margin: 5px;
}
button:hover{
    background-color: #ff69b4;
}
button:active{
    background-color: #8b0749;
}
.overlay-container{
    background:url('image/banner.jpg.png') ;
    width: 1300px;
    height: 400px;
    background-size: cover;
    position: relative;
}
.overlay-text{
    padding: 80px 30px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-shadow: 5px 5px rgb(112, 96, 107);
}
.slogan {
    font-family: monospace;
    font-size: 50px;color: #8b0749;
    background-color: #ffc0cb;
    padding: 10px;
    margin: 5px;
}
p{
    font-family: monospace;
    font-size: 20px;color: #701053;
}
.content {
    font-family: fantasy;
    font-size: 30px;color: #701053;
    background-color: #ffc0cb;
    padding: 20px;
}

.content-box {
    background-color: #ffe4e1;
    padding: 30px;
    margin: 10px auto;
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 10px;
}
.content-item {
    font-size: 25px;
    font-family: monospace;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}
.footer {
    background-color: #ff69b4;
    padding: 1.5px;
}
